Calibration/recorder_realsense_D435i
Calibration/recorder_realsense_T265

Monocular/mono_euroc
Monocular/mono_kitti
Monocular/mono_realsense_D435i
Monocular/mono_realsense_t265
Monocular/mono_tum
Monocular/mono_tum_vi

Monocular-Inertial/mono_inertial_euroc
Monocular-Inertial/mono_inertial_realsense_D435i
Monocular-Inertial/mono_inertial_realsense_t265
Monocular-Inertial/mono_inertial_tum_vi

RGB-D/rgbd_tum
RGB-D/rgbd_realsense_D435i

RGB-D-Inertial/rgbd_inertial_realsense_D435i

Stereo/stereo_euroc
Stereo/stereo_kitti
Stereo/stereo_realsense_D435i
Stereo/stereo_realsense_t265
Stereo/stereo_tum_vi

Stereo-Inertial/stereo_inertial_euroc
Stereo-Inertial/stereo_inertial_realsense_D435i
Stereo-Inertial/stereo_inertial_realsense_t265
Stereo-Inertial/stereo_inertial_tum_vi

ROS/ORB_SLAM3/Mono
ROS/ORB_SLAM3/Mono_Inertial
ROS/ORB_SLAM3/MonoAR
ROS/ORB_SLAM3/RGBD
ROS/ORB_SLAM3/Stereo
ROS/ORB_SLAM3/Stereo_Inertial

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
